<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UploadedSubtitleFileURL</key>
	<string></string>
	<key>OpenSubtitlesAPIKey</key>
	<string></string>
	<key>ManifestURL</key>
	<string></string>
	<key>EPAURL</key>
	<string></string>
	<key>FavoriteShows</key>
	<array>
		<dict>
			<key>name</key>
			<string>An Awesome Show</string>
			<key>posterURL</key>
			<string>https://awesomeshow.com/appleTV.jpg</string>
			<key>active</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
